<div class=" d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-11">
        <div class="card-body p-md-4">
            <div class="row justify-content-center">
                <!-- Logo imagen registrase -->
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                    <img src="https://www.arsys.es/blog/file/uploads/2015/12/usabilidad.jpg" class="img-fluid"
                        alt="Logo simple para mostrar registro de herramientas de accesibilidad y usabilidad web">
                </div>

                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <!-- Texto registrarse -->
                    <p class="text-center h1 fw-bold mb-4 mx-1 mx-md-4 mt-4">Registrar Pedidos</p>

                    <form class="mx-1 mx-md-2">

                        <!-- Input Prefijo -->
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Prefijo</label>
                                <input type="text" id="input-prefijo" class="form-control"
                                    [(ngModel)]="formulario.prefijo" name="prefijo" required />
                            </div>
                        </div>

                        <!-- Input Razon Social -->
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Razon Social</label>
                                <input type="text" id="input-descripcion" class="form-control"
                                    [(ngModel)]="formulario.razon_social" name="razon_social" required />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <!-- Input nit -->
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-label">NIT</label>
                                        <input type="text" id="input-nit"
                                            class="block w-full py-1 sm:text-sm form-control"
                                            [(ngModel)]="formulario.nit" name="nit" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <!-- Input Num Pedido -->
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-label">Numero de Pedido</label>
                                        <input type="text" id="input-num_pedido"
                                            class="block w-full py-1 sm:text-sm form-control"
                                            [(ngModel)]="formulario.num_pedido" name="num_pedido" required />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Input Vendedor -->
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Vendedor</label>
                                <input type="text" id="input-vendedor" class="form-control"
                                    [(ngModel)]="formulario.vendedor" name="vendedor" required />
                            </div>
                        </div>

                        <!-- Input Departamento -->
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Departamento</label>
                                <input type="text" id="input-departamento" class="form-control"
                                    [(ngModel)]="formulario.departamento" name="departamento" required />
                            </div>
                        </div>

                        <!-- Input Ciudad -->
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Ciudad</label>
                                <input type="text" id="input-ciudad" class="form-control"
                                    [(ngModel)]="formulario.ciudad" name="ciudad" required />
                            </div>
                        </div>

                        <!-- Botón Registrarse -->
                        <div class="d-flex justify-content-center mx-4 mb-4">
                            <button type="button" class="btn btn-primary btn-lg"
                                (click)="registrarPedido()">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>